<div class="col-lg-6 col-md-3 col-lg-offset-3" th:fragment="showallteamspanel">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-users fa-5x"></i>
                </div>
                <div class="col-xs-3 text-right boardtext">
                    <div></div>
                    <span ></span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="panel panel-default">
                <!-- Default panel contents -->

                <table class="table table-condensed" style="border-collapse:collapse;">
                    <thead>
                    <tr>
                        <div class="panel-heading">Team Name </div>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="team : ${teams}">
                        <tr data-toggle="collapse" th:attr="data-target='#teamName'+${team.teamName}" class="accordion-toggle">
                            <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus-sign"></span></button></td>
                            <th th:text="${team.teamName}"></th>
                        </tr>

                        <tr>
                            <td colspan="6" class="hiddenRow"><div th:id="'teamName'+${team.teamName}" class="accordian-body collapse">

                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                    </tr>
                                    </thead>
                                    <tbody th:each="employee : ${team.employeeList}">
                                    <tr>
                                        <td th:text="${employee.firstName}"></td>
                                        <td th:text="${employee.lastName}"></td>
                                    </tr>

                                    </tbody>
                                </table>

                            </div></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>



            </div>
        </div>
    </div>
    <!-- End of All teams Panel -->
</div>