<fieldset th:fragment="teamform">
    <div class="form-group">
        <label class="col-md-4 control-label" for="teamName">Team Name</label>
        <div class="col-md-4">
            <input th:field="*{teamName}" id="teamName" name="teamName"
                   type="text" placeholder="Team Name" class="form-control input-md"/>
            <span class="help-block" th:if="${#fields.hasErrors('teamName')}"
                  th:errors="*{teamName}">Team Name Error</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="submit"></label>
        <div class="col-md-4">
            <button type="submit" value="save" id="submit" name="submit"
                    class="btn btn-primary">Submit
            </button>
        </div>
    </div>
</fieldset>

