.glyphicon.glyphicon-user {
    font-size: 75px;
}
.glyphicon.glyphicon-circle-arrow-right{
	font-size:75px;
}
.glyphicon.glyphicon-tasks{
	font-size:75px;
}
.glyphicon.glyphicon-calendar{
	font-size:75px;
}
.boardtext{
    font-size: medium;
}
