<div class="col-lg-12" th:fragment="allprojectspagetitle">
    <h1 class="page-header">
        Dashboard
        <small>Project</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-tachometer"></i> Dashboard
        </li>
        <li class="active">
            <i class="fa fa-briefcase fa-3x"></i> Projects
        </li>
    </ol>
    <div th:if="${successmessage != null}">
        <div class="alert alert-success" th:text="${successmessage}"></div>
    </div>
    <div th:if="${errormessage != null}">
        <div class="alert alert-danger" th:text="${errormessage}"></div>
    </div>
</div>