<div class="col-lg-12" th:fragment="addemployeevacationpagetitle">
    <h1 class="page-header">
        Dashboard
        <small>Add Employee Vacation</small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-tachometer"></i> Dashboard</li>
        <li class="active"><i class="fa fa-1x fa-calendar"></i> Add
            Vacation
        </li>
    </ol>
    <div th:if="${successmessage != null}">
        <div class="alert alert-success" th:text="${successmessage}"></div>
    </div>
    <div th:if="${errormessage != null}">
        <div class="alert alert-danger" th:text="${errormessage}"></div>
    </div>

</div>