<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="/fragments/header :: header"></head>
<body>
<!-- Navigation Bar -->
<nav th:replace="/fragments/menu :: menu">

</nav>
<!-- End of navigation Bar -->
<!-- Page Title -->
<div class="col-lg-12" th:replace="/clientfragments/editclientpagetitle :: editclientpagetitle">
</div>
<div class="col-lg-12">
    <form class ="form-horizontal" action="#" th:action="@{/editclient}" th:object="${client}" method="post">

        <fieldset th:replace="/clientfragments/clientform :: clientform"></fieldset>

    </form>
</div>
<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>
