<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="/fragments/header :: header">

</head>
<body>
<nav th:replace="/fragments/menu ::menu"></nav>
<!-- Page Title -->
<div class="col-lg-12">
    <h1 class="page-header"> Dashboard
        <small>Statistics Overview</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active">
            <i class="glyphicon glyphicon-dashboard"></i> Dashboard
        </li>
    </ol>
</div>
<!-- end of page title -->

<div id="page-wraper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="panel-title"> Number of Employees</div>
                                &nbsp;
                                <div class="panel-title" th:text="${totalEmployees}"></div>
                            </div>
                        </div>
                    </div>
                        <div class="panel-footer">
                            <div class="row form-group">
                            <span class="pull-left panel-title">Employees with vacation this month!</span>
                                &nbsp;
                            </div>
                            <div class="row form-group">
                            <div class="progress">
                                &nbsp;
                                <div th:text="${vacationToCurrentMonth}" class="progress-bar panel-title" role="progressbar" th:attr="aria-valuenow=${vacationToCurrentMonth}" aria-valuemin="0" aria-valuemax="100" th:style="'width:'+ ${vacationToCurrentMonth}+'%;'">

                                </div>
                            </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                </div>

            </div>

        </div>
    </div>
</div>
<footer th:replace="/fragments/footer ::footer">

</footer>
</body>
</html>