<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="/fragments/header :: header"></head>
<body>
<nav th:replace="/fragments/menu ::menu"></nav>
<div class="col-lg-12" th:replace="projectfragments/addprojectpagetitle :: addprojectpagetitle">

</div>
<div id="page-wraper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
            <form class="form-horizontal" th:action="@{/newproject}" th:object="${project}" method="post">
            <fieldset th:replace="/projectfragments/projectform :: projectform">

            </fieldset>
            </form>
                <div th:text="${successmessage}"></div>
                <div th:text="${errormessage}"></div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/fragments/footer ::footer"></footer>

</body>
</html>
