<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="/fragments/header :: header"></head>
<body>
<nav th:replace="/fragments/menu :: menu"></nav>

<div class="col-md-12" th:replace="/projectfragments/showprojectpagetitle :: showprojectpagetitle">

</div>
<div class="container">
    <div th:replace="projectfragments/showproject :: showproject">
    </div>
</div>
<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>