<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="/fragments/header :: header">
</head>
<body>
<!-- Navigation Bar -->
<nav th:replace="/fragments/menu :: menu"></nav>
<!-- End of navigation Bar -->
<!-- Page Title -->
<div class="col-lg-12">
    <h1 class="page-header">
        Dashboard
        <small>Vacations</small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-tachometer"></i> Dashboard</li>
        <li class="active"><i
                class="fa fa-1x fa-calendar"></i>vacations
        </li>
    </ol>
</div>
<!-- end of page title -->

<div id="page-wraper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="glyphicon glyphicon-user"></i>
                            </div>
                            <div class="col-xs-3 text-right boardtext">
                                <div></div>
                                <span ></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">All Employee Vacations</div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Team</th>
                                    <th>Available days</th>
                                    <th>Spent days</th>
                                </tr>
                                </thead>
                                <tbody th:each="employee : ${employeeList}">
                                <tr>
                                    <td th:text="${employee.firstName}"></td>
                                    <td th:text="${employee.lastName}"></td>
                                    <td th:text="${employee.employeeTeamName.teamName}"></td>
                                    <td th:text="${availableVacations}"></td>
                                    <td th:text="${unavailableVacations}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- End of All Employees Panel -->
            <!-- Start of Teams Panel -->
            <div class="col-lg-6 col-md-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="glyphicon glyphicon-user"></i>
                            </div>
                            <div class="col-xs-3 text-right boardtext">
                                <div></div>
                                <span ></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->

                            <table class="table table-condensed" style="border-collapse:collapse;">
                            <thead>
                                <tr><th>&nbsp;</th>
                                    <th>Team Name</th>
                                </tr>
                            </thead>
                                <tbody>
                                <th:block th:each="team : ${teams}">
                                <tr data-toggle="collapse" th:attr="data-target='#teamName'+${team.teamName}" class="accordion-toggle">
                                    <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                                    <th th:text="${team.teamName}"></th>
                                </tr>

                                <tr>
                                    <td colspan="6" class="hiddenRow"><div th:id="'teamName'+${team.teamName}" class="accordian-body collapse">

                                            <table class="table table-inverse">
                                                <thead>
                                                <tr>
                                                    <th> </th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                </tr>
                                                </thead>
                                                <tbody th:each="employee : ${team.employeeList}">
                                                <tr  data-toggle="collapse" th:attr="data-target='#vacations'+${employee.firstName}" class="accordion-toggle">
                                                    <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                                                    <td th:text="${employee.firstName}"></td>
                                                    <td th:text="${employee.lastName}"></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="6" class="hiddenRow"><div th:id="'vacations'+${employee.firstName}" class="accordian-body collapse"> Ferias</div></td>
                                                </tr>
                                                </tbody>
                                            </table>

                                    </div></td>
                                </tr>
                                </th:block>
                                </tbody>
                            </table>



                        </div>
                    </div>
                </div>
                <!-- End of All teams Panel -->
            </div>

        </div>
    </div>
    <!--End of container fluid-->
</div>
<!-- End of Wraper-->
<footer th:replace="/fragments/footer ::footer">

</footer>
</body>
</html>