<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="/fragments/header :: header">

</head>
<body>
<!-- Navigation Bar -->
<nav th:replace="/fragments/menu :: menu"></nav>
<!-- End of navigation Bar -->
<!-- Page Title -->
<div class="col-lg-12">
    <h1 class="page-header">
        Dashboard
        <small>Vacations</small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-tachometer"></i> Dashboard</li>
        <li class="active"><i
                class="fa fa-1x fa-calendar"></i>vacations
        </li>
    </ol>
</div>
<!-- end of page title -->

<div id="page-wraper">
    <div class="container-fluid">
        <!-- -->
        <div class="row">
            <!-- Top Panels-->
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" th:text="${totalEmployees}"></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                   <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left"> Number of Employees</span>
                            <span class="pull-right"><i class=""></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

        <!-- -->
        <div class="row">

           <!--Start of Employees Panel -->
            <div class="col-lg-6 col-md-3" th:replace="/vacationfragments/employeespanelvacation :: employeespanelvacation">


            </div>
            <!-- End of All Employees Panel -->

            <!-- Start of Teams Panel -->
            <div class="col-lg-6 col-md-3" th:replace="/vacationfragments/teamspanelvacation :: teamspanelvacation">

            </div>
            <!-- End of Teams Panel -->
            </div>
        </div>
    <!--End of container fluid-->
</div>
<!-- End of Wraper-->
<footer th:replace="/fragments/footer ::footer">

</footer>
</body>
</html>