<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="/fragments/header :: header">

</head>
<body>
<!-- Navigation Bar -->
<nav th:replace="/fragments/menu :: menu"></nav>
<!-- End of navigation Bar -->
<!-- Page Title -->
<div class="col-lg-12">
    <h1 class="page-header">
        Dashboard
        <small>Vacations</small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-tachometer"></i> Dashboard</li>
        <li class="active"><i
                class="fa fa-1x fa-calendar"></i>vacations
        </li>
    </ol>
</div>
<!-- end of page title -->

<div id="page-wraper">
    <div class="container-fluid">


        <!-- -->
        <div class="row">

            <!--Start of Employees Panel -->
            <div class="col-lg-6 col-md-3"
                 th:replace="/vacationfragments/employeespanelvacation :: employeespanelvacation">


            </div>
            <!-- End of All Employees Panel -->

            <!-- Start of Teams Panel -->
            <div class="col-lg-6 col-md-3" th:replace="/vacationfragments/teamspanelvacation :: teamspanelvacation">

            </div>
            <!-- End of Teams Panel -->
        </div>
    </div>
    <!--End of container fluid-->
</div>
<!-- End of Wraper-->
<footer th:replace="/fragments/footer ::footer">

</footer>
</body>
</html>