<th:block th:each="vacation : ${vacationList}">
<fieldset th:fragment="editemployeevacationform">
    <div class="form-group">
        <label class="col-md-4 control-label" for="VacationStartDay">Start
            Date</label>
        <div class="col-md-4">
            <input th:field="${vacation.vacationStartDay}" id="VacationStartDay"
                   name="VacationStartDay" type="date" placeholder="VacationStartDay"
                   class="form-control input-md"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="VacationEndDay">End
            Date</label>
        <div class="col-md-4">
            <input th:field="${vacation.vacationEndDay}" id="VacationEndDay"
                   name="VacationEndDay" type="date" placeholder="VacationEndDay"
                   class="form-control input-md"/>
        </div>
    </div>



    <div class="form-group">
        <label class="col-md-4 control-label" for="submit"></label>
        <div class="col-md-4">
            <button type="submit" value="save" id="submit" name="submit"
                    class="btn btn-primary">Submit
            </button>
        </div>
    </div>

</fieldset>
</th:block>