
<fieldset th:fragment="employeevacationform">
    <div class="form-group">
        <label class="col-md-4 control-label" for="VacationStartDay">Start
            Date</label>
        <div class="col-md-4">
            <input th:field="${vacation.vacationStartDay}" id="VacationStartDay"
                   name="VacationStartDay" type="date" placeholder="VacationStartDay"
                   class="form-control input-md"/> <span class="help-block"
                                                         th:if="${#fields.hasErrors('{vacation.vacationStartDay}')}"
                                                         th:errors="*{vacation.vacationStartDay}"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="VacationEndDay">End
            Date</label>
        <div class="col-md-4">
            <input th:field="${vacation.vacationEndDay}" id="VacationEndDay"
                   name="VacationEndDay" type="date" placeholder="VacationEndDay"
                   class="form-control input-md"/> <span class="help-block"
                                                         th:if="${#fields.hasErrors('{vacation.vacationEndDay}')}"
                                                         th:errors="*{vacation.vacationEndDay}"></span>
        </div>
    </div>
    <div class="form-group">
                <td><input type="hidden" th:field="${employee.id}" id="employee.id" /></td>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="submit"></label>
        <div class="col-md-4">
            <button type="submit" value="save" id="submit" name="submit"
                    class="btn btn-primary">Submit
            </button>
        </div>
    </div>

</fieldset>