<div class="col-lg-12" th:fragment="employeepagetitle">
    <h1 class="page-header"> Dashboard
        <small>Employees</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-tachometer"></i> Dashboard
        </li>
        <li>
            <i class="fa fa-user-circle-o fa-3x"></i> Add Employees
        </li>
    </ol>
    <div th:if="${successmessage != null}">
        <div class="alert alert-success" th:text="${successmsg}"></div>
    </div>
    <div th:if="${errormessage != null}">
        <div class="alert alert-danger" th:text="${errorsmsg}"></div>
    </div>
</div>