
<fieldset th:fragment="selectemployeevacationtoeditform">

    <div class="form-group">
        <div class="col-md-4">
            <input type="hidden" th:field="*{employee.id}" id="emplpoyeeid" name="id"  class="form-control input-md"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="vacationid">Select vacation ID</label>
        <div class="col-md-4">
            <input th:field="*{vacation.id}" id="vacationid" name="id" type="text"
                   placeholder="Vacation ID" class="form-control input-md"/> <span
                class="help-block" th:if="${#fields.hasErrors('vacation.id')}"
                th:errors="*{vacation.id}"></span>
        </div>
    </div>


    <div class="form-group">
        <label class="col-md-4 control-label" for="submit"></label>
        <div class="col-md-4">
            <button type="submit" value="save" id="submit" name="submit"
                    class="btn btn-primary">Submit
            </button>
        </div>
    </div>

</fieldset>
