<div class="col-lg-6 col-md-3 col-lg-offset-3" th:fragment="clientspanel">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <div class="col-xs-3 text-right boardtext">
                    <div></div>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="panel panel-default">
                <!-- Default panel contents -->

                <table class="table table-condensed" style="border-collapse:collapse;">
                    <thead>
                    <tr>
                        <div class="panel-heading">Clients</div>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="client : ${clientsList}">
                        <tr data-toggle="collapse" th:attr="data-target='#client'+${client.id}"
                            class="accordion-toggle">
                            <td>
                                <button class="btn btn-default btn-xs"><span
                                        class="glyphicon glyphicon-plus-sign"></span></button>
                            </td>
                            <td th:text="${client.id}"></td>
                            <td th:text="${client.firstName}"></td>
                            <td th:text="${client.lastName}"></td>
                        </tr>

                        <tr>
                            <td colspan="6" class="hiddenRow">
                                <div th:id="'client'+${client.id}" class="accordian-body collapse">

                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Project Name</th>
                                            <th>Assigned Team</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody th:each="project : ${client.projectList}">
                                        <tr>
                                            <td th:text="${project.projectName}"></td>
                                            <td th:text="${project.assignedTeam.teamName}"></td>
                                            <td th:text="${project.projectStartDate}"></td>
                                            <td th:text="${project. projectEndDate}"></td>
                                            <td th:text="${project.status}"></td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
    <!-- End of All teams Panel -->
</div>